<div class="container">

    <h1 class="text-center">Password Reset</h1>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form [formGroup]="passform" (submit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col">
                        <div class="form-group">
                            <label>New Password</label>
                            <div class="row">
                            <input type="{{val}}" formControlName="npass" name="passn" placeholder="enter new password" style="width:90%;margin-left:17px"
                                class="form-control" [ngClass]="{ 'is-invalid':submitted && f.npass.errors }" />
                                <i [ngClass]="['bttn']"><i *ngIf="eye1" (click)="eye()" style="margin-top:10px"
                                    class="fa fa-eye"></i><i (click)="eyes()" *ngIf="eye2"
                                    style="margin-top:10px" class="fa fa-eye-slash"></i></i>
                            <div *ngIf="submitted && f.npass.errors" class="invalid-feedback">
                                <div style="margin-left:17px" *ngIf="f.npass.errors.required">Password is required</div>
                                <div style="margin-left:17px" *ngIf="f.npass.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="row">
                            <input type="{{val1}}" formControlName="cpass" name="passc" placeholder="re-enter password" style="width:90%;margin-left:17px"
                                class="form-control" [ngClass]="{ 'is-invalid':submitted && f.cpass.errors }" />
                                <i [ngClass]="['bttn']"><i *ngIf="ceye1" (click)="ceye()" style="margin-top:10px"
                                    class="fa fa-eye"></i><i (click)="ceyes()" *ngIf="ceye2"
                                    style="margin-top:10px" class="fa fa-eye-slash"></i></i>
                            <div *ngIf="submitted && f.cpass.errors" class="invalid-feedback">
                                <div style="margin-left:17px" *ngIf="f.cpass.errors.required">Password is required</div>
                                <div style="margin-left:17px" *ngIf="f.cpass.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                            <div *ngIf="sat" style="color:red;margin-left:17px">Password must be match</div>
                        </div>
                        </div>
                        <button class="btn btn-danger col-lg-12">Reset Password</button><br><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>