<div class="container">
    <form >
      <label for="fname">TAKEAWAY</label><br>
      <div class="row">
     <input  type="text" id="fname" name="firstname"  style="width:80%;margin-right:30px " placeholder="Enter street/building name">
     <button type="button" class="btn btn-danger btn-md" data-toggle="modal" style="height: 50px;margin-top: 10px"data-target="#myModal">FIND STORES</button>
    </div>
    </form>
   
</div>
      <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title"  style=" font-family: Arial, Helvetica, sans-serif;">ERROR</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Please enter valid adress</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">OK</button>
              </div>
            </div>
            
          </div>
        </div>